<div>
    <div class="top-bar">
        <div class="left">
            <i class="icon" nz-icon nzType="arrow-left" nzTheme="outline" (click)="back()"></i>
            <span style="margin-left: 30px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;"> My wallets</span>
        </div>
        <div class="right">
            <button class="add-btn" nz-button nzType="primary" (click)="addWallet()">ADD WALLET</button>
        </div>
    </div>
    <div class="data">
        <app-wallet-detail (editWallet)="editWallet()"></app-wallet-detail>
        <app-wallet-add *ngIf="add_edit_wallet_dialog" (closeAddDialog)="closeAddWallet()" [isAddForm]="add_wallet"
                        [isEditForm]="edit_wallet"></app-wallet-add>
    </div>
</div>
