<div class="right">
    <span class="topbar-icon" nzTooltipTitle="Jump to today" nzTooltipPlacement="bottom" nz-tooltip
      (click)="jumpToToday()"><i nz-icon nzType="calendar" nzTheme="outline"></i></span>
    <span class="topbar-icon" [nzTooltipTitle]="viewToolTip" nzTooltipPlacement="bottom" nz-tooltip
      (click)="changeViewMode()"><i nz-icon nzType="eye" nzTheme="outline"></i></span>
    <span class="topbar-icon" style="margin-right: 50px;" nzTooltipTitle="Search" nz-tooltip
      nzTooltipPlacement="bottom"><i nz-icon nzType="search" nzTheme="outline"></i></span>
    <button class="transaction-btn" nz-button nzType="primary" (click)="addTransaction()">Add transaction
    </button>
  </div>