<!-- <p>topbar works!</p> -->
<div class="topbar">
    <div class="left" (click)="openWalletMenu()" *ngIf="wallets.length >= 0">
        <div class="icon"><img style="width: 40px;" src="/assets/catalogs/{{wallets[0].icon}}.png" alt=""></div>
        <div class="wallet-info">
            <div class="name">{{wallets[0].name}} <span> <i nz-icon nzType="caret-down" nzTheme="outline"></i></span>
            </div>
            <div class="amount">{{getFormatAmount(wallets[0].balance)}} {{wallets[0].currency}}</div>
        </div>
    </div>
    <div style="margin-left: auto" [ngSwitch]="currentPage">
        <app-topbar-transaction *ngSwitchCase="'transaction'" [wallets]=wallets></app-topbar-transaction>
        <app-topbar-wallet *ngSwitchCase="'wallet'"></app-topbar-wallet>
        <div *ngSwitchDefault>Other topbar</div>
    </div>
    <div hidden class="wallet-menu">
        <div class="menu-title">Select Wallet</div>
        <div class="wallet-items" *ngFor="let wallet of wallets">
            <div>
                <nz-divider style="margin-top: 10px; width: 430px;" nzType="horizontal"></nz-divider>
                <div class="left wallet-item">
                    <div class="icon"><img style="width: 40px;" src="/assets/catalogs/{{wallet.icon}}.png" alt=""></div>
                    <div class="wallet-info">
                        <div class="name">{{wallet.name}}
                            <div class="item-amount">{{getFormatAmount(wallet.balance)}} {{wallet.currency}}</div>
                        </div>
                    </div>
                    <div class="selected-wallet"><span><i *ngIf="wallet.isCurrent" nz-icon nzType="check"
                                                          nzTheme="outline"></i></span></div>
                </div>
            </div>
        </div>
        <nz-divider style="margin-top: 10px; width: 430px;" nzType="horizontal"></nz-divider>
    </div>
</div>
