<div style="display: flex; overflow: auto;">
    <div class="list-transaction">
        <nz-tabset nzCentered>
            <nz-tab class="tabs" nzTitle="LAST MONTH">
                <ng-template nz-tab>
                    <app-transaction-list></app-transaction-list>
                  </ng-template>
            </nz-tab>
            <nz-tab class="tabs" nzTitle="THIS MONTH">
                <ng-template nz-tab>
                    <app-transaction-list></app-transaction-list>
                  </ng-template>
            </nz-tab>
            <nz-tab class="tabs" nzTitle="FUTURE">
                <ng-template nz-tab>
                    <app-transaction-list></app-transaction-list>
                  </ng-template>
            </nz-tab>
        </nz-tabset>
    </div>
</div>