.money-flow {
    padding: 0px 50px;
}

.flow {
    display: flex;
}

.calc {
    margin-left: auto;
}

.total-amount {
    margin-left: auto;
    border-top: 0.1px solid rgba(0, 0, 0, 0.234);
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.view-report {
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #a0d911;
}

.view-report:hover {
    cursor: pointer;
}

.gap {
    width: 100%;
    height: 20px;
    background: #F5F5F5;
}

.top-section {
    display: flex;
    padding: 10px 50px;
}

.top-left {
    display: flex;
}

.category-name {
    margin-left: 10px;
    margin-top: -5px;
}

.top-right {
    margin-left: auto;
}

.bottom-section {
    display: flex;
    padding: 0px 50px;
}

.bottom-section:hover{
    cursor: pointer;
    background-color: #ecffc0;
}

.bottom-right {
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.054);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8888;
}

.is-expense {
    color: #FF4D4F
}

.not-expense {
    color: #1890FF
}
