.list-transaction {
    width: 40%;
    margin-left: 50%;
    margin-top: 1%;
    transform: translate(-50%, -50%);
    transition: margin-left 0.5s;
}

#transaction-detail {
    position: absolute;
    width: 49%;
    left: 50%;
    top: 80px;
    /* height: 238px; */

    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
}

.ant-tabs {
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
}