<div *ngIf="transactionsByTime.length">
    <div class="money-flow" >
        <div class="flow">
            <p>Inflow: </p>
            <p style="margin-left: auto; color: #1890FF">{{getFormatBalance(inflow)}} vnd</p>
        </div>
        <div class="flow">
            <p>Outflow: </p>
            <p style="margin-left: auto; color: #FF4D4F">{{getFormatBalance(outflow *-1)}} vnd</p>
        </div>
        <div class="flow">
            <p class="total-amount" *ngIf="(inflow - outflow) >= 0">{{getFormatBalance(inflow - outflow)}} vnd</p>
            <p class="total-amount" *ngIf="(inflow - outflow) < 0">{{getFormatBalance(inflow - outflow)}} vnd</p>
        </div>
    </div>
    <div *ngIf="currentPage!='search'" class="view-report">
        VIEW REPORT FOR THIS PERIOD
    </div>
</div>
<div class="transactions" [ngClass]="{'transaction-search': currentPage=='search', 'transaction-normal': currentPage!='search'}">
    <div *ngIf="viewMode == 'time' && currentPage!='search'; else category">
        <div *ngIf="!transactions.length" >
            <div class="gap"></div>
            <div style="text-align: center; font-size: 20px; font-weight: 600; padding: 50px 0px"> No transactions!</div>
        </div>
        <div class="transaction" *ngFor="let transaction of transactions">
            <div class="gap"></div>
            <div class="transaction-item">
                <div class="top-section">
                    <div class="top-left">
                        <div class="icon">
                            <img nz-image width="30px" height="30px" [nzSrc]="transaction[0].category.getIcon()"
                                [nzFallback]="transaction[0].category.fallbackIcon" alt="">
                        </div>
                        <div class="category-name">
                            <div style="font-weight: 500;">{{transaction[0].category.name}}</div>
                            <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">
                                {{transaction.length}} Transactions
                            </div>
                        </div>
                    </div>
                    <div class="top-right">
                        <div style="font-weight: 500; font-size: 16px;">
                            {{getFormatBalance(calculateTotalAmount(transaction))}}
                            {{transaction[0].wallet.currency}}</div>
                    </div>
                </div>
                <div style="margin-top: -25px;">
                    <nz-divider></nz-divider>
                </div>
                <div style="margin-top: -25px;">
                    <div class="bottom-section" *ngFor="let item of transaction" (click)="selectTransaction(item)">
                        <div class="top-left">
                            <div style="font-size: 30px;">
                                {{getDate(item.transactionDate.toString()).date}}
                            </div>
                            <div class="category-name" style="margin-top: 7px">
                                <div style="font-size: 12px;">{{getDate(item.transactionDate.toString()).weekDay}},
                                    {{getDate(item.transactionDate.toString()).month}}
                                    {{getDate(item.transactionDate.toString()).year}}</div>
                                <div *ngIf="item.note"
                                    style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                    Note: {{item.note}}</div>
                            </div>
                        </div>
                        <div class="top-right" style="margin-top: 12px">
                            <div *ngIf="item.category.isExpense" class="is-expense"
                                style="font-weight: 500;">{{getFormatBalance(item.amount * -1)}}
                                {{item.wallet.currency}}</div>
                            <div *ngIf="!item.category.isExpense" class="not-expense"
                                style="font-weight: 500;">{{getFormatBalance(item.amount)}}
                                {{item.wallet.currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #category>
        <div *ngIf="!transactionsByTime.length" >
            <div class="gap"></div>
            <div style="text-align: center; font-size: 20px; font-weight: 600; padding: 50px 0px"> No transactions!</div>
        </div>
        <div class="transaction" *ngFor="let transactionTime of transactionsByTime">
            <div *ngIf="transactionTime.length">
                <div class="gap"></div>
                <div class="transaction-item">
                    <div class="top-section">
                        <div class="top-left">
                            <div style="font-size: 30px;">
                                {{getDate(transactionTime[0].transactionDate.toString()).date}}
                            </div>
                            <div class="category-name" style="margin-top: 7px">
                                <div style="font-size: 12px;">{{getDate(transactionTime[0].transactionDate.toString()).weekDay}}</div>
                                <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">
                                    {{getDate(transactionTime[0].transactionDate.toString()).month}} {{getDate(transactionTime[0].transactionDate.toString()).year}}</div>
                            </div>
                        </div>
                        <div class="top-right">
                            <div style="font-weight: 500; font-size: 16px;">{{getFormatBalance(calculateTotalAmount(transactionTime))}} {{transactionTime[0].wallet.currency}}</div>
                        </div>
                    </div>
                    <div style="margin-top: -25px;">
                        <nz-divider></nz-divider>
                    </div>
                    <div style="margin-top: -25px;">
                        <div class="bottom-section" *ngFor="let item of transactionTime" (click)="selectTransaction(item)"
                            style="padding-top: 10px; padding-bottom: 10px;">
                            <div class="top-left">
                                <div class="icon">
                                    <img nz-image width="30px" height="30px" [nzSrc]="item.category.getIcon()"
                                        [nzFallback]="item.category.fallbackIcon" alt="">
                                </div>
                                <div class="category-name">
                                    <div style="font-weight: 500;">{{item.category.name}}</div>
                                    <div *ngIf="item.note"
                                        style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);  max-width: 150px; word-wrap: break-word;">
                                        Note: {{item.note}}
                                    </div>
                                </div>
                            </div>
                            <div class="top-right">
                                <div *ngIf="item.category.isExpense" class="is-expense"
                                style="font-weight: 500;">{{getFormatBalance(item.amount * -1)}}
                                {{item.wallet.currency}}</div>
                                <div *ngIf="!item.category.isExpense" class="not-expense"
                                style="font-weight: 500;">{{getFormatBalance(item.amount)}}
                                {{item.wallet.currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
