<div class="wrapper">
    <div class="upper-row" nz-row nzJustify="space-between">
        <div class="input-box" nz-col [nzSpan]="7" (click)="onAddWallet()">
            <div class="input-name">
                Wallet
            </div>
            <div class="input-content" nz-row>
                <div class="input-picture" nz-col nzSpan="2">
                    <i nz-icon>
                        <img src="/assets/catalogs/{{this.transaction.wallet.icon}}.png" alt="image"
                             style="width: 24px;height: 24px">
                    </i>
                </div>
                <div class="input-text" nz-col nzSpan="21">
                    {{this.transaction.wallet.name}}
                </div>
                <div class="left-arrow" nz-col nzSpan="1">
                    <i nz-icon nzType="right" nzTheme="outline"></i>
                </div>
            </div>
        </div>
        <div class="input-box" nz-col [nzSpan]="8" (click)="onAddCategory()">
            <div class="input-name">
                Category
            </div>
            <div class="input-content" nz-row>
                <div class="input-picture" nz-col nzSpan="2">
                    <i nz-icon>
                        <img src="/assets/catalogs/{{this.transaction.category.icon}}.png" alt="image"
                             style="width: 24px;height: 24px">
                    </i>
                </div>
                <div class="input-text" nz-col nzSpan="21" [style.color]="this.transaction.category.isCurrent?'black':'rgba(0,0,0,.26)'">
                    {{this.transaction.category.isCurrent ? this.transaction.category.name : "Choose Category"}}
                </div>
                <div class="left-arrow" nz-col nzSpan="1">
                    <i nz-icon nzType="right" nzTheme="outline"></i>
                </div>
            </div>
        </div>
        <div class="input-box" nz-col [nzSpan]="7">
            <div class="input-name">
                Amount
            </div>
            <div class="input-amount">
                <input #inputElement type="text" [ngModel]="getFormatAmount()" nz-input
                       nzBorderless nzSize="large"
                       (ngModelChange)="onChangeAmount($event)"/>
            </div>
        </div>
    </div>
    <div class="lower-row" nz-row nzJustify="space-between">
        <div class="input-box" nz-col [nzSpan]="7">
            <div class="input-name">
                Date
            </div>
            <div class="input-date">
                <nz-date-picker style="padding: 0" nzBorderless nzSize="large" nzFormat="dd/MM/yyyy"
                                nzInputReadOnly="true" nzSuffixIcon="" nzAllowClear="false"
                                [(ngModel)]="transaction.transactionDate"
                                (ngModelChange)="onChangeDate($event)"></nz-date-picker>
            </div>
        </div>

        <div class="input-box" nz-col [nzSpan]="16">
            <div class="input-name">
                Note
            </div>
            <div class="input-note">
                <input type="text" placeholder="Note" [ngModel]="transaction.note"
                       (ngModelChange)="onChangeNote($event)" nz-input
                       nzBorderless nzSize="large"/>
            </div>
        </div>
    </div>
</div>
