.wrapper {
    height: 180px;
}

.upper-row {
    margin-bottom: 24px;
}

.input-box {
    cursor: pointer;
    float: left;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    height: 64px;
}

.input-box:hover {
    border: 1px solid rgba(0, 0, 0, .4);

}

::ng-deep .add-transaction-wallet-modal .ant-modal-title {
    font-size: 20px;
    font-weight: 600;
}

::ng-deep .add-transaction-category-modal .ant-modal-title {
    font-size: 20px;
    font-weight: 600;
}
