<div>
    <div class="money-flow">
        <div class="flow">
            <p>Inflow: </p>
            <p style="margin-left: auto; color: #1890FF">100,000 vnd</p>
        </div>
        <div class="flow">
            <p>Outflow: </p>
            <p style="margin-left: auto; color: #FF4D4F">-50,000 vnd</p>
        </div>
        <div class="flow">
            <p class="total-amount">+50,000 vnd</p>
        </div>
    </div>
    <div class="view-report">
        VIEW REPORT FOR THIS PERIOD
    </div>
</div>
<div class="transactions" style="overflow: auto; max-height: calc(100vh - 335px);">
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">3 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">75,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">1 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">25,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">1 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">25,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">1 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">25,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">1 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">25,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        <div class="gap"></div>
        <div class="transaction-item">
            <div class="top-section">
                <div class="top-left">
                    <div class="icon">
                        <img style="width: 30px;" src="https://static.moneylover.me/img/icon/ic_category_all.png"
                            alt="">
                    </div>
                    <div class="category-name">
                        <div style="font-weight: 500;">Restaurant</div>
                        <div style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54);">1 transaction</div>
                    </div>
                </div>
                <div class="top-right">
                    <div style="font-weight: 500; font-size: 16px;">25,000 vnd</div>
                </div>
            </div>
            <div style="margin-top: -25px;">
                <nz-divider></nz-divider>
            </div>
            <div style="margin-top: -25px;">
                <div class="bottom-section" (click)="selectTransaction()">
                    <div class="top-left">
                        <div style="font-size: 30px;">
                            11
                        </div>
                        <div class="category-name" style="margin-top: 7px">
                            <div style="font-size: 12px;">Thursday, November 2021</div>
                            <div
                                style="margin-top: -3px; font-size: 11px; color: rgba(0, 0, 0, 0.54); max-width: 150px; word-wrap: break-word; padding-bottom: 5px;">
                                Note: Noodle</div>
                        </div>
                    </div>
                    <div class="top-right" style="margin-top: 12px">
                        <div style="font-weight: 500; color: #FF4D4F;">25,000 vnd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>