<div class="blur"></div>
<div class="content">
    <div class="dialog">
        <div class="header" *ngIf="isAddForm">
            Add wallet
        </div>
        <div class="header" *ngIf="isEditForm">
            Edit wallet
        </div>
        <form nz-form [formGroup]="form" class="wallet-form">
            <div class="wallet-content">
                <div class="wallet-type">
                    <button class="wallet-type-btn" nz-button [nzType]="'primary'" style="background-color: #D3F261"
                            (click)="showDetail(1)">Basic Wallet
                    </button>
                    <button class="wallet-type-btn" nz-button nzType="primary" style="background-color: #FADB14"
                            (click)="showDetail(2)">Link Wallet
                    </button>
                    <button class="wallet-type-btn" nz-button nzType="primary" style="background-color: #D6E4FF"
                            (click)="showDetail(3)">XXX Wallet
                    </button>
                </div>
                <div class="wallet-detail" hidden>
                    <div class="detail-row">
                        <div style="width: 27%">
                            <button class="wallet-type-icon-btn" nz-button nzType="primary"
                                    (click)="iconDialog()">
                                <img src="../../../assets/catalogs/{{form.value.icon}}.png" class="icon-img">
                                <i nz-icon nzType="down" nzTheme="outline"></i>
                            </button>
                        </div>
                        <nz-form-item>
                            <nz-form-label nzRequired>Wallet Name</nz-form-label>
                            <nz-form-control nzErrorTip="Please input your wallet name">
                                <input required nz-input formControlName="name" placeholder="Your wallet name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="detail-row">
                        <div style="width: 38%">
                            <nz-form-control nzErrorTip="Please select a currency">
                                <nz-select name="currency" formControlName="currency"
                                           class="currency-selection" nzShowSearch nzPlaceHolder="Select a currency">
                                    <nz-option nzValue="{{currency.code}}"
                                               nzLabel="{{currency.text}}"
                                               *ngFor="let currency of CurrencyList"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </div>
                        <nz-form-item>
                            <nz-form-label nzRequired>Money Amount</nz-form-label>
                            <nz-form-control nzErrorTip="Please input your amount of money">
                                <nz-input-number defaultValue={1000} [nzFormatter]="formatterCurrency"
                                                 class="amount-input" formControlName="balance"
                                                 [nzParser]="parserAmount"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="detail-row">
                        <div>
                            <label nz-checkbox>Not included in the total</label>
                            <p style="color: rgba(0, 0, 0, 0.45)">Skip this wallet and balance from the total</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="save-btn footer-btn" nz-button nzType="primary" style="color: #52C41A;"
                        (click)="submitAddWallet()" hidden>
                    Save
                </button>
                <button class="cancel-btn footer-btn" nz-button nzType="primary" style="color: #FF4D4F;"
                        (click)="returnMyWallet()">Cancel
                </button>
            </div>
            <div class="item-dialog" hidden>
                <div class="item-dialog-header">
                    <span (click)="iconDialog()"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                    <span>Select icon</span>
                </div>
                <div class="item-dialog-content">
                    <div class="item-list">
                        <div class="icon-element" *ngFor="let icon of IconList" id="{{icon.code}}" (click)="setIcon(icon.code)">
                            <img src="../../../assets/catalogs/{{icon.text}}.png" class="icon-img">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
