.title {
    display: flex;
    padding: 7px 20px;
}

.close-icon {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    padding-top: 5px;
}

.close-icon:hover {
    color: black;
    cursor: pointer;
}

.ant-divider-horizontal {
    margin: -4px 0px;
}

.btn-modify {
    display: flex;
    margin-left: auto;
}

.btn-delete {
    margin-right: 50px;
}

.btn-delete:hover {
    background-color: #fcecec;
}

.btn-edit {
    margin-right: 15px;
    color: #52c41a;
    width: 77px;
}

.btn-edit:hover {
    background-color: #e6f6e9;
}

.details {
    padding: 15px;
    display: flex;
}

.detail-left {
    display: flex;
}

.detail-text {
    margin-left: 17px;
}

.detail-right {
    margin-left: auto;
    margin-right: 20px;
}

.amount-right {
    font-weight: 500;
    color: #FF4D4F;
    font-size: 24px;
    text-align: right;
}

.note-right {
    text-align: right;
}

.is-expense {
    color: #FF4D4F
}

.not-expense {
    color: #1890FF
}
