.option {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.26);
}

.options:hover {
    cursor: pointer;
    background-color: rgba(45,184,76,.20);
}

.date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.45);
}
