.category-info .name {
    font-size: 14px;
    font-weight: 600;
    padding: 9px 0 11px 8px;
}

.selected-category {
    color: #038C0C;
    font-weight: 600;
    font-size: 20px;
}

.category-item {
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    padding: 8px 16px;
}
.category-item:hover {
    background-color: rgba(45,184,76,.20);
}
