<nz-layout class="body-container">
    <nz-sider [style.min-width.px]="48" [style.max-width.px]="256" nzWidth="-1">
        <app-sidebar (collapse)="onSizebarCollapse($event)"></app-sidebar>
    </nz-sider>
    <nz-layout>
        <nz-header [ngClass]="{'search-header': currentPage=='search'}">
            <app-topbar [sidebarCollapse]="isCollapsed" [currentPage]="currentPage"></app-topbar>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>

