<div style="width: 100%">
    <div class="date-range-list">
        <div *ngFor="let option of dateOptions; let i = index" class="date-range-item"
            (click)="onItemSelected(option, i)">
            <div>
                <span class="date-range-title">{{option.title}}</span>
                <br>
                <span *ngIf="option.title != 'Custom'" class="date-range-details">{{option.startDate | date:"dd/MM/yyyy"}} - {{option.endDate |
                    date:"dd/MM/yyyy"}}</span>
            </div>
            <div *ngIf="option.title == dateRange.title" class="check-icon"><i nz-icon nzType="check" nzTheme="outline"></i></div>
            <div *ngElse></div>
        </div>
        <div *ngIf="showDateRangeInput"
            class="date-range-inputs">
            <div class="input-box" style="flex-basis: calc(50% - 8px);">
                <app-input-date inputFormat="dd/MM/yyyy" inputName="Start Date" [(dateValue)]="dateRange.startDate">
                </app-input-date>
            </div>
            <div class="input-box" style="flex-basis: calc(50% - 8px);">
                <app-input-date inputFormat="dd/MM/yyyy" inputName="End Date" [(dateValue)]="dateRange.endDate">
                </app-input-date>
            </div>
        </div>
    </div>
    <div class="date-select-footer">
        <button nz-button nzType="default" (click)="onCancel.emit()">CANCEL</button>
        <button nz-button nzType="primary" (click)="applyClick()">Apply</button>
    </div>
</div>
