<div class="wrapper">
    <div class="upper-row" nz-row nzJustify="start">

        <div class="input-box" nz-col [nzSpan]="8">
            <div class="input-name">
                Category
            </div>
            <div class="input-content" nz-row nzJustify="space-between">
                <div class="input-picture" nz-col nzSpan="2" (click)="onSelectIcon()">
                    <i nz-icon>
                        <img [src]="categoryIcon" alt="image" style="width: 24px;height: 24px">
                    </i>
                </div>
                <div class="input-text" nz-col nzSpan="20">
                    <input type="text" placeholder="Name" nz-input nzBorderless nzSize="large" />
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="1">
        </div>
        <div class="input-box" nz-col [nzSpan]="15" (click)="onSelectParentCategory()">
            <div class="input-name">
                Parent Category
            </div>
            <div class="input-content" nz-row >
                <div class="input-picture" nz-col nzSpan="2">
                    <i nz-icon>
                        <img [src]="parentCategoryIcon" alt="image" style="width: 24px;height: 24px">
                    </i>
                </div>
                <div class="input-text" nz-col nzSpan="21">
                   <p>{{category.parent?.name ?? "Select parent category"}}</p>
                </div>
                <div class="left-arrow" nz-col nzSpan="1">
                    <i nz-icon nzType="right" nzTheme="outline"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-row" nz-row nzJustify="start">
        <nz-radio-group [(ngModel)]="checkbox">
            <label nz-radio nzValue="Income">Income</label>
            <label nz-radio nzValue="Outcome">Outcome</label>
        </nz-radio-group>
    </div>

</div>